<md:EntityDescriptor entityID="$xmlattr.escape($params.entityID)"#if (!$params.omitNamespaceDeclarations)#foreach ($ns in $namespaces.entrySet()) xmlns:$ns.key="$ns.value"#end#end>
#if ($params.requiresExtensions)

    <md:Extensions>
#foreach ($scope in $params.scopes)
        <shibmd:Scope regexp="false">$xmltext.escape($scope)</shibmd:Scope>
#end
#if ($params.displayName || $params.description || $params.logo)
        <mdui:UIInfo>
#if ($params.displayName)
            <mdui:DisplayName>$xmltext.escape($params.displayName)</mdui:DisplayName>
#end
#if ($params.description)
            <mdui:Description>$xmltext.escape($params.description)</mdui:Description>
#end
#if ($params.logo)
            <mdui:Logo#if ($params.lang) xml:lang="$params.lang"#end#if ($params.logo.width) width="$params.logo.width"#end#if ($params.logo.height) height="$params.logo.height"#end>$xmltext.escape($params.logo.URI)</mdui:Logo>
#end
#end
        </mdui:UIInfo>
#foreach ($tag in $params.tagAssignments.entrySet())
#if ($foreach.first)
        <mdattr:EntityAttributes>
#end
            <saml:Attribute Name="$xmlattr.escape($tag.key)" NameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri">
#foreach ($val in $tag.value)
                <saml:AttributeValue>$xmltext.escape($val)</saml:AttributeValue>
#end
            </saml:Attribute>
#if ($foreach.last)
        </mdattr:EntityAttributes>
#end
#end
    </md:Extensions>
#end
#if ($params.IDPSSODescriptor)
#parse("$params.templatePath/IDPSSODescriptor.vm")

#end
#if ($params.AttributeAuthorityDescriptor)
#parse("$params.templatePath/AttributeAuthorityDescriptor.vm")

#end
#if ($params.SPSSODescriptor)
#parse("$params.templatePath/SPSSODescriptor.vm")

#end
#if ($params.organizationName || $params.organizationURL)
    <md:Organization>
#if ($params.organizationName)
        <md:OrganizationName#if ($params.lang) xml:lang="$params.lang"#end>$xmltext.escape($params.organizationName)</md:OrganizationName>
        <md:OrganizationDisplayName#if ($params.lang) xml:lang="$params.lang"#end>$xmltext.escape($params.organizationName)</md:OrganizationDisplayName>
#end
#if ($params.organizationURL)
        <md:OrganizationURL#if ($params.lang) xml:lang="$params.lang"#end>$xmltext.escape($params.organizationURL)</md:OrganizationURL>
#end
    </md:Organization>
#end
#foreach ($contact in $params.contactPersons)
    <md:ContactPerson contactType="$contact.type">
#if ($contact.company)
        <md:Company>$xmltext.escape($contact.company.value)</md:Company>
#end
#if ($contact.givenName)
        <md:GivenName>$xmltext.escape($contact.givenName.value)</md:GivenName>
#end
#if ($contact.surName)
        <md:SurName>$xmltext.escape($contact.surName.value)</md:SurName>
#end
#foreach ($mail in $contact.emailAddresses)
        <md:EmailAddress>$xmltext.escape($mail.URI)</md:EmailAddress>
#end
#foreach ($phone in $contact.telephoneNumbers)
        <md:TelephoneNumber>$xmltext.escape($phone.value)</md:TelephoneNumber>
#end
    </md:ContactPerson>
#end
</md:EntityDescriptor>
