#set ($role = $params.IDPSSODescriptor)
    <md:IDPSSODescriptor protocolSupportEnumeration="#foreach($p in $role.supportedProtocols)$p#if(!$foreach.last) #end#end">
#parse("$params.templatePath/KeyDescriptors.vm")
#foreach ($endpoint in $role.artifactResolutionServices)
        <md:ArtifactResolutionService index="$endpoint.index" Binding="$endpoint.binding" Location="$endpoint.location" />
#end
#foreach ($endpoint in $role.singleLogoutServices)
        <md:SingleLogoutService Binding="$endpoint.binding" Location="$endpoint.location" />
#end
#foreach ($endpoint in $role.singleSignOnServices)
        <md:SingleSignOnService Binding="$endpoint.binding" Location="$endpoint.location" />
#end
    </md:IDPSSODescriptor>
